/* 1. Polices Google */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* 2. Imports des composants */
/* Le "./" indique de chercher dans le dossier courant */
@import url("./Components/avatar.css");
@import url("./Components/banner.css");
@import url("./Components/button.css");
@import url("./Components/card.css");
@import url("./Components/typeform.css");

/* 3. Styles Généraux */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0;
  color: #333;
  background-color: #FDFFFF;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}